<!DOCTYPE html><!--  Last Published: Wed Feb 19 2025 09:08:01 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="67b4bd7a660ff444e7a90548" data-wf-site="67b4bd7a660ff444e7a904f6">
<head>
  <meta charset="utf-8">
  <title>Licencse</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../css/components.css" rel="stylesheet" type="text/css">
  <link href="../css/tennis-champ.css" rel="stylesheet" type="text/css">
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="../images/favicon.jpg" rel="shortcut icon" type="image/x-icon">
  <link href="../images/webclip.jpg" rel="apple-touch-icon">
  <style>
/* --- Font Smoothing --- */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
</style>
  <meta name="robots" content="noindex">
</head>
<body>
  <div class="page-wrapper">
    <div class="static_brand">
      <div class="container-large is-flex">
        <a href="#" class="static_brand-link w-nav-brand"><img loading="lazy" src="../images/elysian-fitness-studios_logo-black.svg" alt="Elysian Fitness Studios Logo Black"></a>
      </div>
    </div>
    <div class="main-wrapper">
      <section id="challenge" class="section is-legal">
        <div class="container-large">
          <div class="content_wrap">
            <div class="content_header">
              <div class="content_header-inner">
                <div class="margin-bottom-24">
                  <h2 class="heading-style-h3">Licence</h2>
                </div>
                <div class="opacity-60">
                  <p class="text-size-medium">All graphical assets in this template are licensed for personal and commercial use. If you&#x27;d like to use a specific asset, please check the license below.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="margin-bottom-24">
                <h3 class="heading-style-h3">Fonts</h3>
              </div>
              <ul role="list" class="template_list">
                <li class="template_list-item is-licence">
                  <div class="text-size-regular">Coolvetica</div>
                  <div class="opacity-60">
                    <a href="https://www.dafont.com/coolvetica.font" target="_blank" class="text-size-small">Licence Details</a>
                  </div>
                </li>
                <li class="template_list-item is-licence">
                  <div class="text-size-regular">Satoshi</div>
                  <div class="opacity-60">
                    <a href="https://www.fontshare.com/fonts/satoshi" target="_blank" class="text-size-small">Licence Details</a>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <div class="margin-bottom-24">
                <h3 class="heading-style-h3">Images &amp; Videos</h3>
              </div>
              <ul role="list" class="template_list">
                <li class="template_list-item is-licence">
                  <div class="text-size-regular">Pexels Images</div>
                  <div class="opacity-60">
                    <a href="https://www.pexels.com/license/" target="_blank" class="text-size-small">Licence Details</a>
                  </div>
                </li>
                <li class="template_list-item is-licence">
                  <div class="text-size-regular">Pexels Videos</div>
                  <div class="opacity-60">
                    <a href="https://www.pexels.com/license/" target="_blank" class="text-size-small">Licence Details</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="w-layout-grid licence_grid-images">
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc2579-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-contact_1tennis-contact.avif 500w, ../images/tennis-contact_1tennis-contact.avif 800w, ../images/tennis-contact_1tennis-contact.avif 1600w" alt="" src="../images/tennis-contact_1tennis-contact.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc257b-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-about_2tennis-about.avif 500w, ../images/tennis-about_2tennis-about.avif 800w, ../images/tennis-about_2tennis-about.avif 1080w, ../images/tennis-about_2tennis-about.avif 1600w, ../images/tennis-about_2tennis-about.avif 2324w" alt="" src="../images/tennis-about_2tennis-about.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc257d-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-about_1tennis-about.avif 500w, ../images/tennis-about_1tennis-about.avif 800w, ../images/tennis-about_1tennis-about.avif 1080w, ../images/tennis-about_1tennis-about.avif 2324w" alt="" src="../images/tennis-about_1tennis-about.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc257f-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-image-10_1tennis-image-10.avif 500w, ../images/tennis-image-10_1tennis-image-10.avif 800w, ../images/tennis-image-10_1tennis-image-10.avif 1673w" alt="" src="../images/tennis-image-10_1tennis-image-10.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc2581-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-07_1tennis-square-07.avif 500w, ../images/tennis-square-07_1tennis-square-07.avif 1000w" alt="" src="../images/tennis-square-07_1tennis-square-07.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc2583-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-04_1tennis-square-04.avif 500w, ../images/tennis-square-04_1tennis-square-04.avif 1000w" alt="" src="../images/tennis-square-04_1tennis-square-04.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc2585-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-10_1tennis-square-10.avif 500w, ../images/tennis-square-10_1tennis-square-10.avif 1000w" alt="" src="../images/tennis-square-10_1tennis-square-10.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc2587-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-01_1tennis-square-01.avif 500w, ../images/tennis-square-01_1tennis-square-01.avif 1000w" alt="" src="../images/tennis-square-01_1tennis-square-01.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-a24b44d3-91b8-6a6c-aaf2-27ae9adc2589-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-08_1-p-500.jpg 500w, ../images/tennis-square-08_1-p-800.jpg 800w, ../images/tennis-square-08_1tennis-square-08.avif 1000w" alt="" src="../images/tennis-square-08_1tennis-square-08.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_0ee14145-7deb-6364-2ba2-e8a9562bdf78-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-05_1tennis-square-05.avif 500w, ../images/tennis-square-05_1tennis-square-05.avif 1000w" alt="" src="../images/tennis-square-05_1tennis-square-05.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_24d81fda-c11c-7cae-98a6-c04b1428a206-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-03_1tennis-square-03.avif 500w, ../images/tennis-square-03_1tennis-square-03.avif 800w, ../images/tennis-square-03_1tennis-square-03.avif 1000w" alt="" src="../images/tennis-square-03_1tennis-square-03.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_971b2f97-f612-4a40-5cf0-ff8952670336-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-09_1tennis-square-09.avif 500w, ../images/tennis-square-09_1tennis-square-09.avif 1000w" alt="" src="../images/tennis-square-09_1tennis-square-09.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-e85207bb-35e5-7dc0-c9b6-765b8fc69894-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-square-06_1tennis-square-06.avif 500w, ../images/tennis-square-06_1tennis-square-06.avif 1000w" alt="" src="../images/tennis-square-06_1tennis-square-06.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_99d51182-1c80-ef19-5f7f-b1f036707210-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-location-072x_1tennis-location-072x.avif 500w, ../images/tennis-location-072x_1tennis-location-072x.avif 800w, ../images/tennis-location-072x_1tennis-location-072x.avif 1316w" alt="" src="../images/tennis-location-072x_1tennis-location-072x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_96cdf510-15dd-694e-39a3-28a662fdd7ed-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-location-032x_3tennis-location-032x.avif 500w, ../images/tennis-location-032x_3tennis-location-032x.avif 1316w" alt="" src="../images/tennis-location-032x_3tennis-location-032x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_8dc9f696-0684-974a-52db-09fbcb47543b-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-location-062x_1tennis-location-062x.avif 500w, ../images/tennis-location-062x_1tennis-location-062x.avif 800w, ../images/tennis-location-062x_1tennis-location-062x.avif 1316w" alt="" src="../images/tennis-location-062x_1tennis-location-062x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_148150e9-3c17-ba65-99d0-db11e25fbfa6-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-location-022x_2tennis-location-022x.avif 500w, ../images/tennis-location-022x_2tennis-location-022x.avif 800w, ../images/tennis-location-022x_2tennis-location-022x.avif 1316w" alt="" src="../images/tennis-location-022x_2tennis-location-022x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_4304de90-ca94-002e-8856-558597547332-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-location-012x_1tennis-location-012x.avif 500w, ../images/tennis-location-012x_1tennis-location-012x.avif 1316w" alt="" src="../images/tennis-location-012x_1tennis-location-012x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_5ff9ee09-6b84-8a25-08cf-2f51890585c7-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-location-052x_1tennis-location-052x.avif 500w, ../images/tennis-location-052x_1tennis-location-052x.avif 1316w" alt="" src="../images/tennis-location-052x_1tennis-location-052x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-f9814d6c-9888-cd94-9566-437b9d391dc2-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-location-042x_1tennis-location-042x.avif 500w, ../images/tennis-location-042x_1tennis-location-042x.avif 800w, ../images/tennis-location-042x_1tennis-location-042x.avif 1316w" alt="" src="../images/tennis-location-042x_1tennis-location-042x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-c8c2968d-bb55-fa6f-ac9b-c551f8c5a2dd-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-location-background2x_1tennis-location-background2x.avif 500w, ../images/tennis-location-background2x_1tennis-location-background2x.avif 800w, ../images/tennis-location-background2x_1tennis-location-background2x.avif 1080w, ../images/tennis-location-background2x_1tennis-location-background2x.avif 2880w" alt="" src="../images/tennis-location-background2x_1tennis-location-background2x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_64df5bb6-5201-a489-27ec-54850dc3b6ff-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-image-072x_1tennis-image-072x.avif 500w, ../images/tennis-image-072x_1tennis-image-072x.avif 1060w" alt="" src="../images/tennis-image-072x_1tennis-image-072x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-b1b9dc17-65b5-1adf-9255-aa677b61c378-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-image-052x_1tennis-image-052x.avif 500w, ../images/tennis-image-052x_1tennis-image-052x.avif 1060w" alt="" src="../images/tennis-image-052x_1tennis-image-052x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_0dd69839-b616-3512-204a-066aa5a25f08-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-image-062x_1tennis-image-062x.avif 500w, ../images/tennis-image-062x_1tennis-image-062x.avif 1060w" alt="" src="../images/tennis-image-062x_1tennis-image-062x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_4ce46a75-21e0-0798-e4e2-9a788d87938b-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-image-042x_1tennis-image-042x.avif 500w, ../images/tennis-image-042x_1tennis-image-042x.avif 1060w" alt="" src="../images/tennis-image-042x_1tennis-image-042x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_4f8a09cd-a201-fca2-f0c6-67e38d975396-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-image-022x_1tennis-image-022x.avif 500w, ../images/tennis-image-022x_1tennis-image-022x.avif 1060w" alt="" src="../images/tennis-image-022x_1tennis-image-022x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_690e425d-a5d1-6dc7-6006-1e758b81d71b-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-image-012x_1tennis-image-012x.avif 500w, ../images/tennis-image-012x_1tennis-image-012x.avif 1060w" alt="" src="../images/tennis-image-012x_1tennis-image-012x.avif" loading="lazy" class="licence_image"></div>
              <div id="w-node-_6e8e542d-b142-7edb-40a9-22f174b1287f-e7a90548" class="licence_image-box"><img sizes="90vw" srcset="../images/tennis-image-032x_1tennis-image-032x.avif 500w, ../images/tennis-image-032x_1tennis-image-032x.avif 1060w" alt="" src="../images/tennis-image-032x_1tennis-image-032x.avif" loading="lazy" class="licence_image"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="section is-footer">
      <div class="container-large">
        <div class="margin-bottom-64">
          <div class="wrap_flex is-align-top">
            <div class="max-width-250">
              <div class="margin-bottom-8">
                <p class="heading-style-h5">elysian Tennis Camps</p>
              </div>
              <p class="text-size-medium">From coast to coast: Uncover our 4 tennis camp locations.</p>
            </div>
            <ul role="list" class="footer_links">
              <li class="footer_link-item">
                <a href="../locations.html" class="footer_link w-inline-block">
                  <div class="z-index-2">
                    <div>Locations</div>
                  </div>
                  <div class="link_line"></div>
                </a>
              </li>
              <li class="footer_link-item">
                <a href="../fitness.html" class="footer_link w-inline-block">
                  <div class="z-index-2">
                    <div>Fitness</div>
                  </div>
                  <div class="link_line"></div>
                </a>
              </li>
              <li class="footer_link-item">
                <a href="../about-us.html" class="footer_link w-inline-block">
                  <div class="z-index-2">
                    <div>About</div>
                  </div>
                  <div class="link_line"></div>
                </a>
              </li>
              <li class="footer_link-item">
                <a href="../contact.html" class="footer_link w-inline-block">
                  <div class="z-index-2">
                    <div>Contact</div>
                  </div>
                  <div class="link_line"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="margin-bottom-64">
          <div class="wrap_flex is-align-top">
            <div class="max-width-440">
              <div class="margin-bottom-8">
                <p class="heading-style-h2">Join our newsletter</p>
              </div>
              <p class="text-size-medium">Join our newsletter to stay up to date on academy news, events, camps, and special deals.</p>
            </div>
            <div class="email-form_wrap w-form">
              <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form" method="get" class="email_form" data-wf-page-id="67b4bd7a660ff444e7a90548" data-wf-element-id="d0e80abc-0b67-11d7-2a38-8a77c9d01eba">
                <div class="form-field-wrapper"><input class="form-input w-input" maxlength="256" name="email" data-name="email" placeholder="Enter your email" type="email" id="email-4" required=""></div><input type="submit" data-wait="Please wait..." class="button w-button" value="Subscribe">
              </form>
              <div class="form-success w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="form-error w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_copyright">
          <div class="opacity-60">
            <div class="footer_copyright-inner">
              <p class="text-size-regular">© 2025 Tennis Champ. All rights reserved.</p>
              <div class="footer_bottom-links-container">
                <a href="../template/licencse.html" aria-current="page" class="text-size-small w-inline-block w--current">
                  <div class="text-size-regular">License</div>
                </a>
                <a href="../template/styleguide.html" class="text-size-small w-inline-block">
                  <div class="text-size-regular">Styleguide</div>
                </a>
                <a href="../template/changelog.html" class="text-size-small w-inline-block">
                  <div class="text-size-regular">Changelog</div>
                </a>
              </div>
            </div>
          </div>
          <ul role="list" class="social-links">
            <li class="social-links_item">
              <a href="#" class="social-link w-inline-block"><img src="../images/x-icon.svg" loading="lazy" alt="" class="icon-24">
                <div class="link-box"></div>
              </a>
            </li>
            <li class="social-links_item">
              <a href="#" class="social-link w-inline-block"><img src="../images/yt-icon.svg" loading="lazy" alt="" class="icon-24">
                <div class="link-box"></div>
              </a>
            </li>
            <li class="social-links_item">
              <a href="#" class="social-link w-inline-block"><img src="../images/fb-icon.svg" loading="lazy" alt="" class="icon-24">
                <div class="link-box"></div>
              </a>
            </li>
            <li class="social-links_item">
              <a href="#" class="social-link w-inline-block"><img src="../images/ig-icon.svg" loading="lazy" alt="" class="icon-24">
                <div class="link-box"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=67b4bd7a660ff444e7a904f6" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="../js/tennis-champ.js" type="text/javascript"></script>
</body>
</html>